<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Swiper demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../public/styles/swiper.min.css">
    <link rel="stylesheet" href="../public/styles/cook.css">


</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">MAYNBDISH!</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
           

            <div class="dropdown">
                <button type="button" id="s" class="btn btn-outline-primary">Sign In</button>
                <button type="button" id="r" class="btn btn-outline-primary">Register</button>

            </div>


        </div>
    </nav>

    <div class="box">
        <h2>Login</h2>
        <form id="login">
            <div class="inputBox">
                <input type="text" name="" required="required">
                <label>Username</label>
            </div>
            <div class="inputBox">
                <input type="password" name="" required="required">
                <label>Password</label>
            </div>
            <input type="submit" value=SUBMIT>
        </form>
    </div>


    <div class="wrap">
        <h2>Sign Up Here</h2>
        <form id="register">

            <input type="text" placeholder="First Name" name="fname" required>
            <input type="text" placeholder="Last Name" name="lname" required>
            <input type="email" placeholder="Email" name="email" required>
            <input type="text" placeholder="Username" required>
            <input type="password" placeholder="Password  6 characters minimum" name="password" minlength="6" required>
            <input type="password" placeholder="Re-Type Password" name="re_password" minlength="6" required>
            <input type="submit" value=REGISTER>
        </form>
    </div>


    <div class="container">
        <div class="row">

            <div class="col">
                <div class="card">

                    <div class="card-body">
                        <h5 class="card-title">blach blach</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Swiper -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="imgBx">
                    <img src="http://dummyimage.com/300x250/fff/00ffd5.png" alt="placeholder image" />
                </div>
                <div class="details">
                    <h3>NAME
                        <br>
                        <span>RECIPE</span>
                    </h3>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="imgBx">
                    <img src="http://dummyimage.com/300x250/fff/00ffd5.png" alt="placeholder image" />
                </div>
                <div class="details">
                    <h3>NAME
                        <br>
                        <span>RECIPE</span>
                    </h3>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="imgBx">
                    <img src="http://dummyimage.com/300x250/fff/00ffd5.png" alt="placeholder image" />
                </div>
                <div class="details">
                    <h3>NAME
                        <br>
                        <span>RECIPE</span>
                    </h3>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="imgBx">
                    <img src="http://dummyimage.com/300x250/fff/00ffd5.png" alt="placeholder image" />
                </div>
                <div class="details">
                    <h3>NAME
                        <br>
                        <span>RECIPE</span>
                    </h3>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="imgBx">
                    <img src="http://dummyimage.com/300x250/fff/00ffd5.png" alt="placeholder image" />
                </div>
                <div class="details">
                    <h3>NAME
                        <br>
                        <span>RECIPE</span>
                    </h3>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="imgBx">
                    <img src="http://dummyimage.com/300x250/fff/00ffd5.png" alt="placeholder image" />
                </div>
                <div class="details">
                    <h3>NAME
                        <br>
                        <span>RECIPE</span>
                    </h3>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="imgBx">
                    <img src="http://dummyimage.com/300x250/fff/00ffd5.png" alt="placeholder image" />
                </div>
                <div class="details">
                    <h3>NAME
                        <br>
                        <span>RECIPE</span>
                    </h3>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="imgBx">
                    <img src="http://dummyimage.com/300x250/fff/00ffd5.png" alt="placeholder image" />
                </div>
                <div class="details">
                    <h3>NAME
                        <br>
                        <span>RECIPE</span>
                    </h3>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="imgBx">
                    <img src="http://dummyimage.com/300x250/fff/00ffd5.png" alt="placeholder image" />
                </div>
                <div class="details">
                    <h3>NAME
                        <br>
                        <span>RECIPE</span>
                    </h3>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="imgBx">
                    <img src="http://dummyimage.com/300x250/fff/00ffd5.png" alt="placeholder image" />
                </div>
                <div class="details">
                    <h3>NAME
                        <br>
                        <span>RECIPE</span>
                    </h3>
                </div>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>

    <!-- Swiper JS -->
    <script src="../public/js/index.js"></script>
    <script src="../public/js/swiper.min.js"></script>



    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper('.swiper-container', {
            effect: 'coverflow',
            grabCursor: true,
            centeredSlides: true,
            slidesPerView: 'auto',
            coverflowEffect: {
                rotate: 50,
                stretch: 0,
                depth: 100,
                modifier: 1,
                slideShadows: true,
            },
            pagination: {
                el: '.swiper-pagination',
            },
        });
    </script>
</body>

</html>