@import url('https://fonts.googleapis.com/css?family=Roboto:700');
body {
    margin: 0;
    padding: 0;
    background: url("../images/before-after-kitchens-02.jpg");
  background-size: cover;

    
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px 100px;
    box-sizing: border-box;
    transition: 0s;

}

nav.black{
    background: rgba(0,0,0,.8);
    height: 80px;
    padding: 10px 50px;

}

nav .logo {
    float: left;
}

nav .logo img {

    transition: .5s;
    height: 80px;
}
nav.black .logo img {

    height: 60px;
}

nav ul {
    float: right;
    margin: 0;
    padding: 0;
    display: flex
}

nav ul li {
    list-style: none;
}

nav ul li a {
    line-height: 80px;
    color: #262626;
    padding: 5px 20px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    transition: 1s;
   
}

nav.black ul li a {
    color: #fff;
    line-height: 60px;

}

nav ul li a.active,
nav ul li a:hover {
    color: #fff;
    background: #f00;
}

#meal {
    margin-top: 200px;
}
#append {
    margin-top: 300px;
}
/* #meal {
    display: none;
} */
#recipe {
   
    color: white;
}
#bee{
    text-align: center;

}
.addRecipe {
   
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        /* width: 700px; */
        padding: 40px;
        background-image: url("../images/wood.jpg");
        background-size: cover;
        box-sizing: border-box;
        box-shadow: 0 15px 25px rgba(0,0,0,.5);
        border-radius: 10px;
        text-align: center;
    
}



.addRecipe {
    display: none;
}

label {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

/* .card {
    display: none;
} */

/* #meal {
    display: none;
} */

section.sec1 {
    /* width: 100%;
    height: 100vh; */
    background: url("../images/photo-1516865131505-4dabf2efc692.jpeg");
    background-size: contain;
    height: 250px;

}

section.sec2 {
    /* width: 100%;
    height: 100vh; */
    background: url("../images/photo-1518779578993-ec3579fee39f.jpeg");
     background-size: contain;
     height: 250px;

}

section.sec3 {
    /* width: 100%;
    height: 100vh; */
    background: url("../images/photo-1524859330668-c357331384f5.jpeg");
     background-size: contain;
     height: 250px;

}

section.sec4 {
    /* width: 100%;
    height: 100vh; */
    background: url("../images/photo-1526318896980-cf78c088247c.jpeg");
     background-size: contain;
     height: 250px;

}

section.content {
    padding: 100px;
}

section.content h1 {
    margin: 0;
    padding: 0;
    font-size: 2em;
}

a {
    color: white;
}

#profile {
    display: none;
}

#recipeSearch{
    text-align: center;
   
 
}

#ingredient {
    text-align: center;
   
    
}


