<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>after</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(window).on("scroll", () => {
            if ($(window).scrollTop()) {
                $("nav").addClass("black");
            }
            else {
                $("nav").removeClass("black");
            }

        });

    </script>

</head>

<body>
    <nav>
        <div class="logo">
            <img src="http://dummyimage.com/100x100/000/00ffd5.png" alt="placeholder image" />
        </div>
        <ul>
            <li>
                <a href="../public/meal.html" class="active">HOME</a>
            </li>


            <li>
                <a onclick="logout()" href="#">LOGOUT</a>
            </li>
        </ul>
    </nav>


    <div class="container">


        <div id="meal" class="row">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Welcome <span>{{name}}</span></h5>

                 
                    <div class="col">
                        <div id="search-box">
                            <input id="searchTerm" class="search-text" type="text" name="" placeholder="Search Recipe Here">
                            <button id="search" type="button" class="btn btn-primary"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                    <br>
                    <div class="col">
                       <button id="fav" type="button" class="btn btn-primary">View Favorite Recipe</button>
                    </div>
                    <br>
                    <div class="col">
                       <button id="mealPlan" type="button" class="btn btn-primary">View Meal Plan</button>
                    </div>

                </div>
            </div>


        </div>

    </div>
    <br>



    <div class="card">
        <div class="card-body">
            <div id="profile">
                <div id="nene" class="row">

                    <div class="col">

                        <table class="table">
                            <thead class="thead-dark">
                                <tr>

                                    <th scope="col"><button id="day1" type="button" class="btn btn-success">Monday</button></th>
                                    <th scope="col"><button type="button" class="btn btn-success">Tuesday</button></th>
                                    <th scope="col"><button type="button" class="btn btn-success">Wednesday</button></th>
                                    <th scope="col"><button type="button" class="btn btn-success">Thursday</button></th>
                                    <th scope="col"><button type="button" class="btn btn-success">Friday</button></th>
                                    <th scope="col"><button type="button" class="btn btn-success">Saturday</button></th>
                                    <th scope="col"><button type="button" class="btn btn-success">Sunday</button></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">
                                        <p class="meal" id="day1_b_p" data-recipeId=""></p><br>
                                        <button id="day1_b" type="button" class="btn btn-danger">Breakfast</button><br><br>
                                        <p class="meal" id="day1_l_p"  data-recipeId=""></p><br>
                                        <button id="day1_l" type="button" class="btn btn-danger">lunch</button><br><br>
                                        <p class="meal" id="day1_d_p"  data-recipeId=""></p><br>
                                        <button id="day1_d" type="button" class="btn btn-danger">dinner</button><br><br>

                                        <button type="button" class="btn btn-warning">Empty</button>
                                    </th>
                                    <th scope="row">
                                        <p class="meal" id="day2_b_p"  data-recipeId=""></p><br>
                                        <button id="day2_b" type="button" class="btn btn-danger">Breakfast</button><br><br>
                                        <p class="meal" id="day2_l_p"  data-recipeId=""></p><br>
                                        <button id="day2_l" type="button" class="btn btn-danger">lunch</button><br><br>
                                        <p class="meal" id="day2_d_p"  data-recipeId=""></p><br>
                                        <button id="day2_d" type="button" class="btn btn-danger">dinner</button><br><br>

                                        <button type="button" class="btn btn-warning">Empty</button>
                                    </th>
                                    <th scope="row">
                                        <p class="meal" id="day3_b_p"  data-recipeId=""></p><br>
                                        <button id="day3_b" type="button" class="btn btn-danger">Breakfast</button><br><br>
                                        <p class="meal" id="day3_l_p"  data-recipeId=""></p><br>
                                        <button id="day3_l" type="button" class="btn btn-danger">lunch</button><br><br>
                                        <p class="meal" id="day3_d_p"  data-recipeId=""></p><br>
                                        <button id="day3_d" type="button" class="btn btn-danger">dinner</button><br><br>

                                        <button type="button" class="btn btn-warning">Empty</button>
                                    </th>
                                    <th scope="row">
                                        <p class="meal" id="day4_b_p"  data-recipeId=""></p><br>
                                        <button id="day4_b" type="button" class="btn btn-danger">Breakfast</button><br><br>
                                        <p class="meal" id="day4_l_p"  data-recipeId=""></p><br>
                                        <button id="day4_l" type="button" class="btn btn-danger">lunch</button><br><br>
                                        <p class="meal" id="day4_d_p"  data-recipeId=""></p><br>
                                        <button id="day4_d" type="button" class="btn btn-danger">dinner</button><br><br>

                                        <button type="button" class="btn btn-warning">Empty</button>
                                    </th>
                                    <th scope="row">
                                        <p class="meal" id="day5_b_p"  data-recipeId=""></p><br>
                                        <button id="day5_b" type="button" class="btn btn-danger">Breakfast</button><br><br>
                                        <p class="meal" id="day5_l_p"  data-recipeId=""></p><br>
                                        <button id="day5_l" type="button" class="btn btn-danger">lunch</button><br><br>
                                        <p class="meal" id="day5_d_p"  data-recipeId=""></p><br>
                                        <button id="day5_d" type="button" class="btn btn-danger">dinner</button><br><br>

                                        <button type="button" class="btn btn-warning">Empty</button>
                                    </th>
                                    <th scope="row">
                                        <p class="meal" id="day6_b_p"  data-recipeId=""></p><br>
                                        <button id="day6_b" type="button" class="btn btn-danger">Breakfast</button><br><br>
                                        <p class="meal" id="day6_l_p"  data-recipeId=""></p><br>
                                        <button id="day6_l" type="button" class="btn btn-danger">lunch</button><br><br>
                                        <p class="meal" id="day6_d_p"  data-recipeId=""></p><br>
                                        <button id="day6_d" type="button" class="btn btn-danger">dinner</button><br><br>

                                        <button type="button" class="btn btn-warning">Empty</button>
                                    </th>
                                    <th scope="row">
                                        <p class="meal" id="day7_b_p"  data-recipeId=""></p><br>
                                        <button id="day7_b" type="button" class="btn btn-danger">Breakfast</button><br><br>
                                        <p class="meal" id="day7_l_p"  data-recipeId=""></p><br>
                                        <button id="day7_l" type="button" class="btn btn-danger">lunch</button><br><br>
                                        <p class="meal" id="day7_d_p"  data-recipeId=""></p><br>
                                        <button id="day7_d" type="button" class="btn btn-danger">dinner</button><br><br>

                                        <button type="button" class="btn btn-warning">Empty</button>
                                    </th>
                                   
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">


                    <br>
                    <br>
                </div>


                <div id="rise" class="row">
                    {{!-- <button type="button" class="btn btn-info">close</button> --}}
                    <div id="recipeSearch" class="col-6">

                    </div>
                    <div id="ingredient" class="col-6">

                    </div>
                </div>

            </div>
            <br>

      
            <div class="row">
                <div class="col">
                    <h2>Grocery List</h2>

                    <button id="grocery" type="button" class="btn btn-primary">View Grocery List</button>


                    <div id="moreRecipe" class="card">

                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col">
                    <h2>Favorite Recipe</h2>


                    <div id="favRecipe"></div>

                </div>
            </div>

        </div>
    </div>
    </div>



    <script src="js/index.js"></script>

</body>


</html>